.image-product {
  width: 10rem !important;
  height: 10rem !important;
}

.edit-product {
  width: 80%;
  justify-content: center;
}

.width-80 {
  max-width: 80% !important;
  z-index: 2000 !important;
}

.table-information:hover {
  cursor: pointer; 
}

.w-70 {
  width: 70px !important;
}

#main-logo {
  max-width: 30px;
}

.modal {
  z-index: 3000 !important;
}

table, tr, th {
  border: 1px solid #fff !important;
}
