@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variable';

// responsive

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// header

nav.navbar {  
  background: $blue-n;
  border-radius: 0px !important;
  
  li {
    a {
      color: $while !important;
    }
  }

  .navbar-header {
    a.navbar-brand {
      color:$while !important;
    }
  }

  li a:focus {
    background: $while !important;
    color: $gray !important;
  }

  li.open {
    a {
      color: $gray !important;
    }
  }
}

// footer

footer {
  background: $blue-n;
  padding: 7px;
  @include respond-to(wide-screens) {position: fixed; bottom: 0; left: 0; width: 100%}
  color: $while !important;
  a {
    color: $while;
  }
  a:hover {
    color: $gray;
    text-decoration: none;
  }
}
