@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variable';

// custom bootstrap

.mt-1 {
  margin-top: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pr-1 {
  padding-right: 5px;
}

// all
body {
  box-sizing: border-box;
}

// responsive

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// header

nav.navbar {  
  background: $blue-n;
  border-radius: 0px !important;
  
  li {
    a {
      color: $while !important;
    }
  }

  .navbar-header {
    a.navbar-brand {
      color:$while !important;
    }
  }

  li a:focus {
    background: $while !important;
    color: $gray !important;
  }

  li.open {
    a {
      color: $gray !important;
    }
  }
}

// footer

footer {
  background: $blue-n;
  padding: 7px;
  @include respond-to(wide-screens) {position: fixed; bottom: 0; left: 0; width: 100%}
  color: $while !important;
  a {
    color: $while;
  }
  a:hover {
    color: $gray;
    text-decoration: none;
  }
}

// table

body{
  background:$gray-while;    
}

.main {
  margin-bottom: 50px;
}

.main-box {
  &.no-header {
    padding-top: 20px;
  }
  background: $while;
  -webkit-box-shadow: 1px 1px 2px 0 $gray-c;
  -moz-box-shadow: 1px 1px 2px 0 $gray-c;
  -o-box-shadow: 1px 1px 2px 0 $gray-c;
  -ms-box-shadow: 1px 1px 2px 0 $gray-c;
  box-shadow: 1px 1px 2px 0 $gray-c;
  margin-bottom: 16px;
  -webikt-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.table a.table-link.danger {
  color: $red-e;
}

.label {
  border-radius: 3px;
  font-size: 0.875em;
  font-weight: 600;
}

.user-list tbody td {
  .user-subhead {
    font-size: 0.875em;
    font-style: italic;
  }
  .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
  }
}

.user-list tbody td > img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}

.table {
  thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
    border-bottom: 2px solid $gray-e7;
  }
  tbody tr td {
    &:first-child {
      font-size: 1.125em;
      font-weight: 300;
    }
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid $gray-e7;
    padding: 12px 8px;
  }
}

// show product

.show-product {
  display: flex;
  width: 100%;
  section {
    width: 50%;
    background: $while;
    margin-right: 10px;
  }
}

// add combo

.add-combo {
  background: $while;
  padding: 10px;
  margin: 16px;
  width: 96.5%;
}
