$blue-n: #286090;
$while: #fff;
$small: 320px;
$break-small: 320px;
$break-large: 1024px;
$gray: #999;
$gray-c: #CCCCCC;
$red-e: #e74c3c;
$blue-3: #3498db;
$gray-e7: #e7ebee;
$gray-while: #eee;
$blue-337: #337ab7;
$green: #3c763d;
